header {
	color: black;
	background-color: lightblue;
	text-align: center;
	font-family: sans-serif;

}

body {
	color: black;
	background: background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
background-size: 10px 10px;
}

#Taco {
	float: left;
	margin: 0 0 0 15px;
}